.twitter-icon{
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/twitter.svg");
}

.line-icon{
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/line.svg");
}

.facebook-icon{
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/facebook.svg");
}
