@import 'materialize/materialize';
@import 'sns-icons';

// WebフォントのFOUT防止
html {
  visibility: hidden;
}

html.wf-active,
html.wf-delay {
  visibility: visible;
}

body {
  margin: 0 auto;
  font-family: 'Noto Sans', 'Noto Sans CJK JP', 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;

  letter-spacing: .05em;
  color: #546E7A;

  #navbar {
    // navbarを固定し、下スクロールで隠す
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 999;

    // navbarのカート表示設定
    #nav-cart {
      display: block;
      position: relative;

      a span.badge {
        position: absolute;
        top: 3px;
        left:33px;
        min-width:0;
      }
    }
  }
  #navbar.hide-animation {
    // 下スクロールで隠す際のアニメーション
    transform: translateY(-100%);
  }
}
